/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
}
.col:first-child {
	margin-left: 0;
}
/*  GROUPING  */
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 */
}
/*  GRID OF FOUR  */

.span_1_of_3 {
	width: 25%; 
}
.span_2_of_3 {
	width: 50%; 
}
.span_1_of_1 {
	width: 100%; 
}
.space_2_of_3 {
 	margin: 0px 0px 1% 0px;
}

/*  GO IPAD PORTRAIT FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
 .col {
 margin: 1% 0 1% 6%;
}
.third {
 margin-left: 0;
}
.span_1_of_4 {
 width: 47%;
}
.section { 
	margin-top: 312px;
}

}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS "Mobile Landscape" */

@media only screen and (max-width: 480px) {
 .col {
 margin: 1% 0 5% 4%;
}
.third {
 margin-left: 0;
}
.span_1_of_4 {
 width: 48%;
}

}



/*  GO FULL WIDTH AT LESS THAN 320 PIXELS "Mobile Portrait" */

@media only screen and (max-width: 320px) {
 .col {
 margin: 1% 0 1% 0%;
}
.span_1_of_4 {
 width: 100%;
 margin: 0 0 5% 0;
}

}
